@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
body {
  background-color: hsl(233, 47%, 7%);
}
.parent {
  display: flex;
  flex-direction: row;
  margin: 150px 120px 150px 120px;
  border-radius: 7px;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

.left {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-color: hsl(244, 38%, 16%);
  color: hsl(0, 0%, 100%);
  box-sizing: border-box;
  padding: 30px 120px 35px 90px;
  margin: 2;
}

span {
  color: hsl(277, 64%, 61%);
}
p {
  color: hsl(0, 0%, 100%, 0.75);
}
.child {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;

}
.right {
  width: 100%;
  height: 400px;
  display: flex;
  background: linear-gradient(
      hsla(277, 64%, 61%, 0.3),
      hsla(277, 64%, 61%, 0.3)
    ),
    url(./images/image-header-desktop.jpg) no-repeat;
  background-size: cover;
}
@media screen and (max-width: 375px) {
  .parent {
    display: flex;
    flex-direction: column-reverse;
    margin: 50px 20px;
    border-radius: 7px;
    overflow: hidden;
    font-family: "Inter", sans-serif;
    font-size: 15px;
  }
  .child {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .right {
    background: linear-gradient(
        hsla(277, 64%, 61%, 0.3),
        hsla(277, 64%, 61%, 0.3)
      )
      url(./images/image-header-mobile.jpg) no-repeat center;
    background-size: cover;
  }
.left {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  justify-content: center;
  padding: 25px 35px;
  text-align: center;
}
